{
    "db": {
        "table": "",
        "user": "",
        "password": "",
        "host": ""
    },
    "users": [
        {
            "account": "",
            "password": "",
            "id": ""
        }
    ]
}
